body{
    background-image: url("../img/space.jpg");
    overflow: hidden;
}
.orbit{
    margin: 30px auto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 7px solid white;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-name: or;
    animation-timing-function: linear;
}
.sun{
    position: relative;
    top: 40%;
    left: 40%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
}
.mercury{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ff0003;
}
@keyframes or {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }

}